DB_URL=jdbc:mariadb://localhost:3306/tpsm
DB_USERNAME=tpsmuser
DB_PASSWORD=replace-with-your-database-password

IMP_CODE=replace-with-your-imp-code
IMP_API_KEY=replace-with-your-imp-api-key
IMP_API_SECRET=replace-with-your-imp-api-secret
